<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_lembrete_submit/" method="post">
        <label for="team_title">Titulo: </label>
        <input  type="text" name="lbt_titulo">
        {% csrf_token %}
        <label for="team_mensg">Mensagem: </label>
        <input  type="text" name="lbt_msg">
        {% csrf_token %}
    
        <input type="submit" value="OK">
    
    </form>
    
</body>
</html>